.page {
    background-color: #ffffff;
}

.kao-color {
    color: #16A87A;
}

.topcoat-button {
    background-color: #16A87A;
}

.topcoat-navigation-bar {
    background: #DFF7F0;
}

.topcoat-navigation-bar__line-height {
    color: #16A87A;
}

.topcoat-navigation-bar__bg {
    background: #DFF7F0;
}

.topcoat-tab-bar {
    background-color: #DFF7F0;
}

.topcoat-tab-bar__button:active > i,
.topcoat-tab-bar__button--large:active > i,
:checked + .topcoat-tab-bar__button > i {
    -webkit-text-fill-color: #16A87A;
}

.topcoat-tab-bar__button:active,
.topcoat-tab-bar__button--large:active,
:checked + .topcoat-tab-bar__button {
    color: #16A87A;
}



