<ons-navigator title="このサイトに.."
               right-button-icon="fa fa-lg fa-times-circle"
               on-right-button-click="ons.screen.dismissPage()">
    <ons-page class="center">
        <ons-scroller>
            <div ng-controller="AboutCtrl" style="margin:20px 20px 20px 20px">
                <font color="grey" size="2px">
                    このサイトは&nbsp;<u ng-click="showLink('https://5jcup.org')"><font color="#1e90ff" size="3px">HTML5 Japan Cup 2014</font></u>&nbsp;の応募作品として個人で作成されたものです。<br>
                    <br>
                    <img ng-src="images/5jCup-logo-horizontal.png"><br>
                    <br>
                    このサイトの素材は&nbsp;<u ng-click="showLink('https://5jcup.org/awards/kao')"><font color="#1e90ff" size="3px">こちら</font></u>&nbsp;に記載された利用形態の範囲内で&nbsp;<u ng-click="showLink('http://www.kao.com/jp/products/')"><font color="#1e90ff" size="3px">花王製品カタログサイト</font></u>&nbsp;から取得し利用しています。<br>
                    <br>
                    <span ng-click="showLink('http://hkusu.github.io/gp-kao-catalog')">
                        HTML版URL&nbsp;<i class="fa fa-html5"></i>：
                        <br>
                        <font color="#1e90ff">http://hkusu.github.io/gp-kao-catalog</font><br>
                    </span>
                    <br>
                    <span ng-click="showLink('https://play.google.com/store/apps/details?id=io.github.hkusu.catalog.kao')">
                        Androidアプリ版ダウンロードURL&nbsp;<i class="fa fa-android"></i>：
                        <br>
                        <font color="#1e90ff">https://play.google.com/store/apps/details?id=io.github.hkusu.catalog.kao</font><br>
                    </span>
                    <br>
                    お問い合わせ&nbsp;<i class="fa fa-envelope-o"></i>：kusu0806@gmail.com
                    <br>
                    <br>
                    <ons-button ng-click="ons.screen.dismissPage()"><i class="fa fa-times-circle" style="font-size:14px"></i>&nbsp;閉じる</ons-button>
                    <br>
                    <br>
                </font>
            </div>
        </ons-scroller>
    </ons-page>
</ons-navigator>