<ons-navigator title="このサイトに.."
               right-button-icon="fa fa-lg fa-times-circle"
               on-right-button-click="ons.screen.dismissPage()">
    <ons-page class="center">
        <ons-scroller>
            <div style="margin:20px 20px 20px 20px">
            <font color="grey" size="2px">
                このサイトは&nbsp;<a ng-href="https://5jcup.org">HTML5 Japan Cup 2014</a>&nbsp;の応募作品として個人で作成されたものです。<br>
                <br>
                <img ng-src="images/5jCup-logo-horizontal.png"><br>
                <br>
                このサイトの素材は&nbsp;<a ng-href="https://5jcup.org/awards/kao">こちら</a>&nbsp;に記載された利用形態の範囲内で&nbsp;<a ng-href="http://www.kao.com/jp/products/">花王製品カタログサイト</a>&nbsp;から取得し利用しています。<br>
                <br>
                <br>
                HTML版URL&nbsp;<i class="fa fa-html5"></i>：<a ng-href="http://○○○○○○○○○○○○○"></a><br>
                Androidアプリ版&nbsp;<i class="fa fa-android"></i>：<a ng-href="http://○○○○○○○○○○○○○"></a><br>
                <br>
                <br>
                お問い合わせ&nbsp;<i class="fa fa-envelope-o"></i>：<u>kusu0806@gmail.com</u>
                <br>
                <br>
                <br>
                <ons-button ng-click="ons.screen.dismissPage()"><i class="fa fa-times-circle" style="font-size:14px"></i>&nbsp;閉じる</ons-button>
            </font>
            </div>
        </ons-scroller>
    </ons-page>
</ons-navigator>