<ons-page class="center">
    <div ng-controller="BrandCtrl">
        <ons-list>
            <div align="left" style="margin:10px 10px 10px 15px">
                <span ng-click="ons.slidingMenu.setBehindPage('views/category.html')">
                    <i class="fa fa-repeat"></i>&nbsp;<u>目的の一覧へ</u>
                </span>
            </div>
            <ons-list-item
                    class="topcoat-list__item--tappable topcoat-list__item__line-height"
                    ng-repeat="item in items"
                    ng-click="showProduct(item.key)">
                <!-- なぜか ons-row、ons-col を使うとAndroid端末で崩れるため、Tableタグを利用-->
                <table>
                    <tr>
                        <td>
                            <div align ="center" style="margin-top:20px">
                                <img ng-src="http://www.kao.com{{item.img}}" width="50">
                            </div>
                        </td>
                        <td>
                            <!-- line-height で行間をあける -->
                            <div align="left" style="margin:5px 10px 0px 15px; line-height:110%">
                                <font size="2px">{{item.name}}<font color="grey">（{{item.product_num}}）</font></font>
                            </div>
                        </td>
                        <td width="20%">
                            <!-- スライドで隠れてしまう部分 -->
                        </td>
                    </tr>
                </table>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>
