<ons-navigator title="制作者"
               right-button-icon="fa fa-lg fa-times-circle"
               on-right-button-click="ons.screen.dismissPage()">
    <ons-page class="center">
        <div style="margin:20px 20px 20px 20px">
            <font color="grey" size="2px">
                <br>
                <ons-row>
                    <ons-col align="right">
                        <div style="margin:35px 30px 0px 0px">
                            <img ng-src="images/profile.jpg" width="60">
                        </div>
                    </ons-col>
                    <ons-col align="left">
                        <div style="margin:12px 0px 0px 0px; line-height:25px">
                            <font size="1px">
                                <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-search fa-stack-1x fa-inverse fa-2x"></i>
                                </span>
                                http://qiita.com/hkusu<br>
                                <span class="fa-stack">
                                    <i class="fa fa-facebook-square fa-stack-2x"></i>
                                </span>
                                hiroyuki.kusu<br>
                                <span class="fa-stack">
                                    <i class="fa fa-twitter-square fa-stack-2x"></i>
                                </span>
                                @h_ku_su<br>
                                <span class="fa-stack">
                                    <i class="fa fa-github-square fa-stack-2x"></i>
                                </span>
                                https://github.com/hkusu<br>
                            </font>
                        </div>
                    </ons-col>
                </ons-row>
                <br>
                <br>
                <ons-button ng-click="ons.screen.dismissPage()"><i class="fa fa-times-circle" style="font-size:14px"></i>&nbsp;閉じる</ons-button>
            </font>
        </div>
    </ons-page>
</ons-navigator>