<ons-navigator title="制作者"
               right-button-icon="fa fa-lg fa-times-circle"
               on-right-button-click="ons.screen.dismissPage()">
    <ons-page class="center">
        <div style="margin:20px 20px 20px 20px">
            <font color="grey" size="2px">
                <br>
                <div align="left" style="margin:0px 0px 0px 40px; line-height:25px">
                    <font size="1px">
                        <span class="fa-stack" style="color:#4298ED">
                            <i class="fa fa-twitter-square fa-stack-2x"></i>
                        </span>
                        @h_ku_su<br>
                        <span class="fa-stack" style="color:#4cb10d">
                            <i class="fa fa-square fa-stack-2x"></i>
                            <i class="fa fa-search fa-stack-1x fa-inverse fa-2x"></i>
                        </span>
                        http://qiita.com/hkusu<br>
                        <span class="fa-stack" style="color:#262626">
                            <i class="fa fa-github-square fa-stack-2x"></i>
                        </span>
                        https://github.com/hkusu<br>
                        <span class="fa-stack" style="color:dimgray">
                            <i class="fa fa-building-o fa-stack-2x"></i>
                        </span>
                        株式会社ゆめみ（http://yumemi.co.jp）<br>
                    </font>
                </div>
                <br>
                <br>
                <ons-button ng-click="ons.screen.dismissPage()"><i class="fa fa-times-circle" style="font-size:14px"></i>&nbsp;閉じる</ons-button>
            </font>
        </div>
    </ons-page>
</ons-navigator>