<ons-navigator title="商品の一覧"
               left-button-icon="fa fa-lg fa-bars"
               on-left-button-click="ons.slidingMenu.toggleMenu()"
               right-button-icon="fa fa-lg fa-home"
               on-right-button-click="ons.slidingMenu.setAbovePage('views/top.html')">
    <ons-page class="center">
        <div ng-controller="ProductCtrl">
            <ons-list>
                <ons-list-item
                    class="topcoat-list__item--tappable topcoat-list__item__line-height"
                    ng-repeat="item in items"
                    ng-click="showItem($index)">
                    <!-- なぜか ons-row、ons-col を使うとAndroid端末で崩れるため、Tableタグを利用-->
                    <table>
                        <tr>
                            <td>
                                <div align ="center" style="margin-top:20px">
                                    <img ng-src="http://www.kao.com{{item.img_s}}" width="50">
                                </div>
                            </td>
                            <td>
                                <!-- line-height で行間をつめる -->
                                <div align="left" style="margin:5px 10px 0px 10px; line-height:90%">
                                    <font size="2px">{{item.name}}<font color="grey">（{{item.lineup_num}}）</font></font>
                                </div>
                            </td>
                        </tr>
                    </table>
                </ons-list-item>
            </ons-list>
        </div>
    </ons-page>
</ons-navigator>