<ons-navigator title="花王 カタログ"
               left-button-icon="fa fa-lg fa-bars"
               on-left-button-click="ons.slidingMenu.toggleMenu()">
    &nbsp;&nbsp;&nbsp;<span id="step3">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <ons-page class="center">
        <ons-scroller>
            <div ng-controller="TopCtrl"
                 ng-intro-options="IntroOptions"
                 ng-intro-method="CallMe"
                 ng-intro-autostart="false">
                <br>
                <img ng-src="images/kao_common_header_ci.gif">
                <br>
                <br>
                <ons-button ng-click="showBrand()"><i class="fa fa-search" style="font-size:14px"></i>&nbsp;<span id="step1">ブラ</span>ンド名から探す</ons-button>
                <br>
                <span id="step4" style="margin-right:380px">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <br>
                <ons-button ng-click="showCategory()"><i class="fa fa-search" style="font-size:14px"></i>&nbsp;<span id="step2">カテ</span>ゴリーから探す</ons-button>
                <br>
                <br>
                <span ng-click="ons.screen.presentPage('views/about.html')">
                    <font color="grey" size="2px">
                        <i class="fa fa-info-circle"></i>&nbsp;<u>このサイトについて</u>
                    </font>
                </span>
                <br>
                <br>
                <span ng-click="CallMe()">
                    <font color="grey" size="2px">
                        <i class="fa fa-book"></i>&nbsp;<u>つかいかた</u>
                    </font>
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span ng-click="ons.screen.presentPage('views/creator.html')">
                    <font color="grey" size="2px">
                        <i class="fa fa-user"></i>&nbsp;<u>つくったひと</u>
                    </font>
                </span>
                <br>
            </div>
        </ons-scroller>
    </ons-page>
</ons-navigator>
