<ons-navigator title="花王 カタログ"
               left-button-icon="fa fa-lg fa-bars"
               on-left-button-click="ons.slidingMenu.toggleMenu()">
    &nbsp;&nbsp;&nbsp;<span id="step3">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <ons-page class="center">
        <ons-scroller>
            <div ng-controller="TopCtrl"
                 ng-intro-options="IntroOptions"
                 ng-intro-method="CallMe"
                 ng-intro-autostart="false">
                <br>
                <img ng-src="images/kao_common_header_ci.gif" width="120">
                <br>
                <br>
                <span ng-click="CallMe()">
                    <font color="grey" size="2px">
                        <font color="green"><i class="fa fa-shield"></i></font>&nbsp;<u><font color="deeppink">つかいかた</font></u>
                    </font>
                </span>
                <div align="left">&nbsp;&nbsp;<span id="step4">&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                <ons-button ng-click="showBrand()"><span id="step1"><i class="fa fa-search" style="font-size:14px"></i>&nbsp;</span>ブランドから探す</ons-button>
                <br>
                <br>
                <ons-button ng-click="showCategory()"><span id="step2"><i class="fa fa-search" style="font-size:14px"></i>&nbsp;</span>&nbsp;&nbsp;&nbsp;目的から探す&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ons-button>
                <br>
                <br>
                <span ng-click="ons.screen.presentPage('views/about.html')">
                    <font color="grey" size="1px">
                        <i class="fa fa-info-circle"></i>&nbsp;<u>このサイトについて</u>
                    </font>
                </span>
                &nbsp;&nbsp;
                <span ng-click="ons.screen.presentPage('views/creator.html')">
                    <font color="grey" size="1px">
                        <i class="fa fa-user"></i>&nbsp;<u>制作者</u>
                    </font>
                </span>
                <br>
            </div>
        </ons-scroller>
    </ons-page>
</ons-navigator>
